size($width, $height)
  width: $width
  height: $height
absolute_layout($top, $left)
  position: absolute
  top: $top
  left: $left
absolute_layout_b($left, $bottom)
  position: absolute
  left: $left
  bottom: $bottom
font_config($size, $color)
  font-size: $size
  color: $color
